In [2]:
# Import necessary libraries
import pandas as pd
import glob
from ydata_profiling import ProfileReport #pandas_profiling
import numpy as np
import json
import duckdb

In [5]:
# Read imdb validation set
validation_df = pd.read_csv('/Users/nikita/Documents/GitHub/project-Big-Data/validation_hidden.csv', index_col = 1)
validation_df = validation_df.drop(columns=['Unnamed: 0'])

# Replace all missing values by legit missing values instead of string "\N"
validation_df = validation_df.replace('\\N', np.nan)

validation_df.head()

,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes
tconst,,,,,,
tt0003740,Cabiria,NaN,1914,NaN,148,3452.0
tt0008663,A Man There Was,Terje Vigen,1917,NaN,65,1882.0
tt0010307,J'accuse!,NaN,1919,NaN,166,1692.0
tt0014429,Safety Last!,Safety Last!,1923,NaN,74,19898.0
tt0015175,Die Nibelungen: Siegfried,NaN,1924,NaN,143,5676.0

In [6]:
# Read imdb test set
test_df = pd.read_csv('/Users/nikita/Documents/GitHub/project-Big-Data/test_hidden.csv', index_col = 1)
test_df = test_df.drop(columns=['Unnamed: 0'])

# Replace all missing values by legit missing values instead of string "\N"
test_df = test_df.replace('\\N', np.nan)

test_df

,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes
tconst,,,,,,
tt0014972,He Who Gets Slapped,He Who Gets Slapped,1924,NaN,95,3654.0
tt0015016,The Iron Horse,NaN,1924,NaN,150,2136.0
tt0015174,Die Nibelungen: Kriemhild's Revenge,NaN,1924,NaN,129,4341.0
tt0015214,At 3:25,NaN,NaN,1925,59,1724.0
tt0015863,Go West,NaN,1925,NaN,69,4188.0
...,...,...,...,...,...,...
tt9430698,One Piece: Stampede,NaN,2019,NaN,101,5109.0
tt9441638,The Big Ugly,NaN,2020,NaN,106,5780.0
tt9495690,Págálpánti,Pagalpanti,2019,NaN,149,2331.0
tt9519642,The Wedding Unplanner,NaN,2020,NaN,110,NaN
tt9526826,Android Kunjappan Ver 5.25,Android Kunjappan Version 5.25,2019,NaN,140,5271.0

In [7]:
# Save the tables in the db and stop the connection afterwards
con = duckdb.connect('imdb_reviews.db')
con.sql("CREATE TABLE IF NOT EXISTS imdb_review_validation AS SELECT * FROM validation_df")
con.sql("CREATE TABLE IF NOT EXISTS imdb_review_test AS SELECT * FROM test_df")
con.close()